<div class="container">
<h1>User Details</h1>
<h2>User Name :<%=@user.email%></h2>
<h2>Bus Information</h2>
<table class="table table-striped table-bordered table-hover">
  <thead class="thead-dark">
    <tr>
      <th>Bus number</th>
      <th>Bus name</th>
      <th>Source</th>
      <th>Destination</th>
      <th>Price</th>
      <th>Date</th>
      <th colspan="2"></th>
      <th>Availableseats</th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td><%= @businfo.Bus_Number %></td>
        <td><%= @businfo.Bus_Name %></td>
        <td><%= @businfo.Source %></td>
        <td><%= @businfo.Destination %></td>
        <td><%= @businfo.Price %></td>
        <td><%= @businfo.Date %></td>
        <td><%= @businfo.Time %></td>
        <td><%= @businfo.Time_taken %></td>
         <td><%= @businfo.Availableseats %></td>


 
      </tr>
  </tbody>
</table>
</br>


<%=link_to "Continue Booking",confirmbooking_path(@user,@businfo),class: "btn btn-primary"%>
<%=link_to "Cancel Booking" , user_path(@user) , class: "btn btn-primary"%>
<%=link_to "Log-Out",users_userlogin_path,class:"btn btn-primary"%>
</div>