</br></br></br>
<%= stylesheet_link_tag 'stylesheetabout', media: 'all', 'data-turbolinks-track': 'reload' %>
<div class ="animate__animated animate__jackInTheBox container border .w-70 shadow-lg p-3 mb-5 bg-white rounded">

<h1  class = "animate__animated animate__jackInTheBox" >Sign Up Form</h1>
<%=form_with model: @user,url: users_usersignup_path do |form| %>

<div class="mb-3 animate__animated animate__jackInTheBox">
    <%= form.label :name %><br>
    <%= form.text_field :name, class: "form-control",placeholder: "Enter Your name" %>
  </div>

  <div class="mb-3 animate__animated animate__jackInTheBox">
    <%= form.label :email %><br>
    <%= form.text_field :email, class: "form-control",placeholder: "steve@apple.com" %>
  </div>

  <div class="mb-3 animate__animated animate__jackInTheBox"> 
    <%= form.label :password %><br>
    <%= form.password_field :password,class: "form-control",placeholder: "password" %>
  </div> 

  <div class="mb-3 animate__animated animate__jackInTheBox"> 
    <%= form.label :phone %><br>
    <%= form.number_field :phone,class: "form-control",placeholder: "Phone" %>
  </div> 

  <div class="mb-3 animate__animated animate__jackInTheBox">
    <%= form.submit "Sign Up" , class: "btn btn-primary" %>
  </div>
    
  <div class="mb-3 animate__animated animate__jackInTheBox">
    <%= link_to  "Back", root_path, class: "btn btn-primary " %>
  </div>

<% end %>
</div>  